header .main-header{
    width: 100%;
    display: flex;
    padding: 10px 25px;
    justify-content: space-between;
    box-shadow: 1px 5px 15px #81818129;
  }
  nav{ 
    display:flex;
    justify-content: space-around;
    background-color:#fff;
  }
 .navbar{
    list-style: none;
    display: flex;
    align-items: center;
    
  }
  .navbar li{
    margin-right: 15px;
  }
  .container-logo{
    display: flex;
  }
  .container-logo h1{
  color: blue;
  display: flex;
  justify-content: center;
  align-items: center;
  }
  