.cart{
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}
.cart h3{
    border: 1px solid;
    padding: 10px;
   border-radius: 8px;
}
.cartContainer {
    text-align: center;
}
.btnVaciarCart{
    margin-left: 100px!important;
}
.cartContainerImgs img{
 margin-top: 40px;
 margin-left: 10px;
 height: 320px;
 border-radius: 5px;

}  