.cart-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -20px;
    
}
.cart-icon * {
    color: black;
    font-size: 30px!important;
    
   
    
}
.cart-icon:hover * {
    transform: scale(1.03);
   
   
}
