.cart{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.cart h3{
    border: 1px solid;
    padding: 10px;
   border-radius: 8px;
}
.cartContainer {
    text-align: center;
}
.btnVaciarCart{
    margin-left: 100px!important;
}
.cartContainerImgs img{
 margin-top: 40px;
 margin-left: 10px;
 height: 320px;
 border-radius: 5px;
}  
.form{
display: flex;
flex-direction: column;
align-items: center;
box-sizing: border-box;
}
.form label, h3{
font-weight: bolder;
margin-left: 20px;
}
.form input{
margin-left: 20px;
}
.form-control{
width: 90%;
}
.form Button{
    margin: 20px;
}
.formX {
    color: #fff;
    background:linear-gradient(45deg, #f90606, #f81f07);
    animation: hue-rotate 2s linear infinite alternate;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bolder;
    border: none;
    font-size: 16px;
    margin-left: 530px!important;
}
.btnVaciarCartRed{
    background:linear-gradient(45deg, #f90606, #f81f07);
    animation: hue-rotate 2s linear infinite alternate;
}

.formX:hover{
 transform: scale(1.2);
}
.CompraExitosa{
    display: flex;
    flex-direction: column;
    margin: 50px;
}
.CompraExitosa p{
    margin-left: 20px;
    margin-top: 5px;
}
.CompraExitosa Button {
    width: 100%;
}
.bolder{
    font-weight: bolder;
}