.ItemContainer2 button{
    color: #fff;
    background:linear-gradient(45deg, #f90606, #f81f07);
    animation: hue-rotate 2s linear infinite alternate;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 95%;
    font-weight: bolder;
    border: none;
}

.ItemContainer2 button:hover{
 transform: scale(1.2);
}
.ItemContainer2{
    width: 250px;
    box-shadow: 3px 3px 5px  #1ad3209e;
    border-radius: 5px;
    text-align: center;
    padding: 40px;
    margin-top: 50px;
    max-height: 445px;
}
.ItemContainer2 p{
    font-weight: bold;
    margin-top: -5px;

}