.ItemC{
    display: grid;
    grid-template-rows:  repeat(3);
    grid-template-columns: repeat(3);
    gap: 20px 0;
    margin-top: 10px;
}
.ItemC:hover{
  transform: scale(1.04);
  cursor: pointer;
}


.ItemContainer{
    width: 250px;
    margin-left: 10px;
    box-shadow: 3px 3px 5px  #1ad3209e;
    border-radius: 5px;
    text-align: center;
    padding: 50px;
    max-height: 470px;
}
.ItemContainer p{
    font-weight: bold;
    margin: 10px;

}
.imgSize{
    max-height: 305px;
    margin-left: -15px;
}

.countContainer__counter{
    display: flex;
    width: 120px;
    height: 50px;
    font-weight: 600;
    font-size: 1.4rem;
    margin: 0px auto;
    
}
.countContainer__counter span{
  width: 140px;
}

.countContainer__counter--button{
    color: #1b5e20;
    width: 100%;
    height: 100%;
    border: 1px solid #555;
    font-size: 1.6rem;
    transition: all 250ms ease-out;
    border-radius: 5px;
  
}

.countContainer__counter--button:hover {
    border: none;
    color: #fff;
    background-color:#1b5e20;
  }
  
  .countContainer__counter--button[disabled] {
    color: #555;
    background-color: #fff;
    border: 1px solid #555;
  }
  
  .countContainer__counter--span {
    text-align: center;
    height: 100%;
    padding-top: 10px;
    color: #1b5e20;
    background-color: #fff;
  }
  .countContainer__counter--button--finish{
    background:linear-gradient(45deg, #18eb38, #10c01f);
    animation: hue-rotate 2s linear infinite alternate;
    border: none;
    font-weight: 700;
    font-size: 1rem;
    width: 200px;
    height: 40px;
    cursor: pointer;
    color: #fff;
    margin-top: 55px;
    margin-left: -120px;
    border-radius: 5px;
    margin-top: 80px;
   
    
    
  }
  .countContainer__counter--button--detalle{
    background:linear-gradient(45deg, #18eb38, #10c01f);
    animation: hue-rotate 2s linear infinite alternate;
    width: 100px;
    height: 30px;
    font-weight: 700;
    border-radius: 5px;
   border: none;
  }
  .countContainer__counter--button--detalle:hover{
    background-color: #173e19;
    cursor: pointer;

  }
  .countContainer__counter--button--detalle >*{
    color: #fff;
    text-decoration: none;
  }
  .countContainer__counter--h4{
    color: #555;
    text-align: center;
  }
  .detalle  {
    list-style-type: none;
    text-decoration: none ;
    color: #fff;
  
  }