.ItemContainer{
    flex-wrap: wrap;
    border: 1px solid #555;
    width: 250px;
    margin-top: 10px;
    margin-left: 10px;
    box-shadow: 1px 1px 5px #0000002b;
    border-radius: 5px;
    padding: 50px;
    text-align: center;
}
.ItemContainer p{
    font-weight: bold;

}
.imgSize{
    max-height: 300px;
}