header .main-header{
    width: 100%;
    display: flex;
    padding: 10px 25px;
    justify-content: space-between;
    
  }
  
  nav{ 
    display:flex;
    justify-content: space-around;
    background-color:#fff;
    box-shadow: 1px 15px 15px #81818129;
  }
 .navbar{
    list-style: none;
    display: flex;
    align-items: center;
    
  }
  .navbar li{
    margin-right: 15px;
  }
  .container-logo{
    display: flex;
    margin-top: 10px;
  }
  
  .btn-link a {
    list-style-type: none;
    color: #fff;
    text-decoration: none;
  }
  .CartBar {
    margin-top: 35px;
   

  }